

#hero{
    background-image: url('../../../assets/suit.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero__btn__icon {
    position: relative;
    left: 0;
    transition: all 0.3s ease;
}

.hero__btn:hover .hero__btn__icon{
    left: 5px;
}



